{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        techascent/tech.resource {:mvn/version "4.6"}
        com.taoensso/nippy {:mvn/version "2.14.0"}
        clj-commons/fs {:mvn/version "1.5.0"}
        techascent/tech.config {:mvn/version "0.3.7"}
        techascent/tech.parallel {:mvn/version "2.2"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/data.csv {:mvn/version "0.1.4"}}}
