{:tech-io-cache-dir "tech-io/cache"
 :tech-io-redirect-dir "tech-io/redirect"
 :tech-io-cache-local false
 :tech-io-redirect-local false
 :tech-io-vault-cred-path "aws/sts/core"
 :tech-io-vault-auth false}
